
/images
/node_modules
/public
/src
/tests_setup


*.test.js
*.spec.js

# Исключить конфигурационные файлы для сборки
*.tsbuildinfo
.vscode
.idea
*.log

# Исключить файлы документации
docs/

a.txt
eslint.config.js 
index.html 
package-lock.json 
tsconfig.app.json 
tsconfig.json
tsconfig.node.json
vite.config.ts
vitest.config.ts


